//installation node.js
//installation ionic cli
npm install -g @ionic/cli
//création nouveau projet
ionic start myApp blank --angular
cd myApp
ionic serve -l

//Créer un nouveau projet firebase
https://console.firebase.google.com/

Suivi de tous ces tutos
https://ionicframework.com/
https://ionicframework.com/docs/angular/your-first-app
https://drissas.com/ionic-4-firebase/
https://drissas.com/connexion-mail-ionic-firebase/
https://drissas.com/page-connexion-design-ionic/

Pour Google plus
https://www.youtube.com/watch?v=Rs1imvTbeN0&t=146s
https://www.youtube.com/watch?v=F_aBzuMbbKE&t=43s
https://www.youtube.com/watch?v=av_WcTo0S9c&t=166s
https://www.youtube.com/watch?v=w6vhJhv4fps&t=43s
https://ionicframework.com/docs/native/google-plus

//google Api
https://console.cloud.google.com/apis/

https://www.youtube.com/results?search_query=ionic+google+login

Autres aides
https://uigradients.com/#MoonlitAsteroid
https://ionicframework.com/docs/components
https://ionic.io/ionicons/v4