<ion-header>
  <ion-toolbar>
      <ion-title>
        Accueil
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="padding">
  <div class="logo">
    <ion-icon color='light' name="sunny-outline"></ion-icon>
  </div>
  <div *ngIf="!connected">
    <h1>Bonjour !</h1>
    <h2>Soyez les bienvenus sur ma première application Ionic/Angular.</h2>

    <ion-button routerLink="/login" expands="block" shape="round" color="tertiary">
    <p>Connexion</p>
    </ion-button>
  </div>
    <div *ngIf="connected">
      <!-- Si l'utilisateur est connecté -->
        <ion-item>
          <ion-label>
            <h1> Bienvenue <b>{{ mail }}</b> !</h1>
          </ion-label>
        </ion-item>
        <ion-button expand="block" color="danger" (click)="logout()" class="danger">Déconnexion</ion-button>
  </div>
   
</ion-content>

